<?xml version="1.0"?>
<model>
    <name>Yellow Dronepoint</name>
    <version>1.0</version>
    <sdf version="1.5">dronepoint_yellow.sdf</sdf>
    <author>
        <name>Artem Batalov</name>
        <email>a@batalov.me</email>
    </author>
    <description>
        Dronepoint with yellow landing zone
    </description>
</model>